@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
h1{                      /*On met des points que quand c'est des div*/
    color:dimgrey;
    text-align:center;
}
h2{
    font-size: 30px ; /*permet de changer la taille du texte*/
    color:firebrick;
    text-align:center;     /*sa met la ou on veut le texte la en l'occurence il sera au milieu*/
}
.Titre{
    margin: auto;                    /*permet d'avoir une marge de base il y'a 2 nombres à mettre, le premier sera la marge en haut et en bas et le 2ème sera de gauche à droite, après on peut mettre aussi 4 valeurs comme sa on choisi differement haut bas gauche droite*/
    width: 40% ;                     /*Mettre en pourcentage permet que si on fait une plus petite page sa s'adaptera a la page*/
    border: black 3px inset;
    border-radius: 10px;           /*Sa permet d'arrondir les bords de notre boite */
}
.informations{
    position: absolute;
    top:10px;
    left:5px;
    font-weight: bold; /*sa c'est pour écrire en gras, permet de changer comment c'est écrit */
    width:17%;
border:rgb(201, 30, 30) 3px inset; 
border-radius: 10px;
color:black;
}
.Gare{
    margin-left:26%;
    width: 47%;
    border: black 3px inset;
    position:absolute;  /* sa veut dire la position ne changera pas rapport aux autres éléments*/
    top:200px;
    border-radius: 10px;
}
table,tr{
    border:thick double;
    border-radius: 10px;
    color:white;
}

ul{
    width:30%;
}
a{
    text-decoration: none;
}
a:link, a:visited     /* permet que le lien soit de la couleur qu'on a choisi quand on ne pas la encore visité, et l'autre permet que le lien non visité sois de la couleur choisis donc mettre les 2 pour avoir la couleur qu'on veut dans tous les cas */
{
    color:white;
}
a:hover   /*permet que quand on passe sur un lien sa change de couleur pour montrer qu'on est bien dessus*/
{
    color:rgba(0, 38, 255, 0.329);
}
.Sommaire{
    margin-left:0%;
    text-align: center; /*permet que le text soit alligné au centre la */
    font-weight: bold;
    font-size: 20px;
}
body{
   background: url(./img/train.jpg) fixed center/cover;
}

.Géographique
{  
    margin:auto;
    float: left;
    border: black 3px inset;
    width: 20%;  /*Défini la taille de l'image(la largeur)*/
}

.Présent
{
    margin: 10px;
    text-align:justify;
    padding:0px 10px;   /*Permet d'avoir une marge mais à l'intérieur de la boite*/
}
.Texte
{
    border:rgb(201, 30, 30) 3px inset; 
    border-radius: 20px;
    color:white;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.192);
    border:white 2px solid;
    border-radius: 10px;
}
.Dénomination
{
    color:red;
    font-weight: bold;
}
.Situation
{
    color:red;
    font-weight: bold;
}
.Evenement
{
    color:red;
    font-weight: bold;
}
.Concurrent
{
    color:red;
    font-weight: bold;
}
.Bourse
{
    color:red;
    font-weight: bold;
}
.Marché
{
    color:red;
    font-weight: bold;
}
.Place
{
    color:red;
    font-weight: bold;
}
.Activité
{
    color : red;
    font-weight: bold;
}
*{
    font-family:Oswald;
}

.Réflexion,.Annexe,.Activitée,.PAcceuil,.Remerciement,.Introduction,.Présentation
{
    border:solid;
    border-radius: 10px;
}
.Bordure
{
    border:solid red;
    border-radius: 10px;
}
.virtualisation
{
    margin-left:26%;
    width: 47%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.imprimante
{
    margin-left:10%;
    width: 20%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.MD
{
    margin-left:10%;
    width: 20%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.DM 
{
    margin-left:10%;
    width: 20%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Reseau
{
    margin-left:26%;
    width: 47%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Site
{
    margin-left:26%;
    width: 47%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Organisation
{
    color:red;
    font-weight: bold;
}
.Organigramme
{
    margin-left:33%;
    width: 30%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Plaace
{
    color:red;
    font-weight: bold;
}
.Qualification
{
    color:red;
    font-weight: bold;
}
p{
    font-size: 19px;
}
.Recherche
{
    color:red;
    font-weight: bold;
}
.Choix
{
    color:red;
    font-weight: bold;
}
h3{
    font-size: 21px;
}
.pc{
    margin-left:33%;
    width: 30%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.base
{
    margin-left:33%;
    width: 30%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.centre
{
    margin-left:33%;
    width: 30%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Serveur1
{
    margin-left:15%;
    width: 25%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Serveur2
{
    margin-left:15%;
    width: 25%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Serveur3
{
    margin-left:15%;
    width: 25%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.Serveur4
{
    margin-left:15%;
    width: 25%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;
}
.calculatrice
{
    margin-left:40%;
    width: 15%;
    border: black 3px inset;
    top:200px;
    border-radius: 10px;

}